<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>C# Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
    <h1 id="type">Add a Car</h1>
    <form action="/cars" method="post">
     <input id="year" name="year" type="text" placeholder="Enter the year" required>
     <input id="makemodel" name="makemodel" type="text" placeholder="Enter the make and model" required>
     <input id="color" name="color" type="text" placeholder="Enter the color" required>
     <input id="mileage" name="mileage" type="text" placeholder="Enter the mileage" required>
     <input id="price" name="price" type="text" placeholder="Enter the asking price" required>
     <button type="submit" id="btnLocation">Go!</button>
    </form>
  </body>
</html>