<!DOCTYPE html>
<html>
  <head>
    @using CarDealership.Models;
    <title>C# Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
  <div class="gr">
    <h2 >Car Dealership</h2>
    @if (Model.Count == 0)
    {
      <p>There are currently no cars available.</p>
    }
    @foreach (var carDictionary in Model)
    {
      foreach(var element in carDictionary)
      {
       @* Console.WriteLine("Key = {0}, Value = {1}", list.Key, value); *@
      <ul>
        <li>@element.Key</li>
        <li>@element.Value</li>
      </ul>
      }
    }
  </div>
  <a href="/CreateForm"><button id="btnLocation">Add A Car To Sell!</button></a>
  </body>
</html>

@* foreach (KeyValuePair<int, List<string>> list in tileValue) *@
    @* //   {
    //     foreach (string value in list.Value)
    //     {
    //       Console.WriteLine("Key = {0}, Value = {1}", list.Key, value); *@