<!DOCTYPE html>
<html>
  <head>
    <title>C# Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
  <div class="gr">
    <h2 >Car Dealership</h2>
  </div>
  <a href="/cars/new"><button id="btnLocation">Add A Car To Sell!</button></a>
  </body>
</html>