<!DOCTYPE html>
<html>
  <head>
    <title>C# Car DealerShip</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" >
  </head>
  <body>
  <h1 id="type">Car DealerShip</h1>
  <p id="intro"> Welcome, This is a web site to create a psuedo dealership where you can populate your lot</p>
  <a href="/Createform"><button id="btnLocation">Test it out!</button></a>
  </body>
</html>